body {
  font-family: "M PLUS 1p";
  color: #333;
}

a {
  color: #003ebe;
  text-decoration: none;
}

a:hover {
  color: #37a2e4;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}
